
  <a mat-list item routerLink="/">
  <mat-icon>home</mat-icon>
  <span>Home</span>
  </a>
  <br>
  <br><mat-card>
  <a mat-list item routerLink="/">
  <mat-icon>account_circle</mat-icon>
  <span>Dashboard</span>
  </a></mat-card>
  <br>
  <br>
  <a mat-list item routerLink="/wallet">
  <mat-icon>account_balance_wallet</mat-icon>
  <span>E-Wallet</span>
  </a>
  <br>
  <br>
  <a mat-list item routerLink="/wallet/deposits">
  <mat-icon>login</mat-icon>
  <span>Deposits</span>
  </a>
  <br>
  <br>
  <a mat-list item routerLink="/wallet/withdrawals">
  <mat-icon>logout</mat-icon>
  <span>Withdrawals</span>
  </a>
  <br>
  <br>
  <a mat-list item routerLink="/members">
  <mat-icon>face</mat-icon>
  <span>Members</span>
  </a>
  <br>
  <br>
  <a mat-list item routerLink="/loans">
  <mat-icon>money</mat-icon>
  <span>Loans</span>
  </a>
  <br>
  <br>
  <a mat-list item routerLink="/messaging">
  <mat-icon>all_inbox</mat-icon>
  <span>Messaging</span>
  </a>
  <br>
  <br>
  <a mat-list item routerLink="/investments">
  <mat-icon>query_stats</mat-icon>
  <span>Investments</span>
  </a>
  <br>
  <br>
  <a mat-list item routerLink="/reports">
  <mat-icon>insert_chart_outlined</mat-icon>
  <span>Reports</span>
  </a>
  <br>
  <br>
  <a mat-list item routerLink="/settings">
  <mat-icon>settings</mat-icon>
  <span>Settings</span>
  </a>
