<!-- HEADER -->
 <div class="header">
  <a class="logo" routerLink="/home"  >
    <img src="assets/img/logos/2.png" class="main-logo" alt="logo" id="main_logo" style="width:100px;height:100px;">
  </a>

  <div class="header-right">
  <div class="nav-toggle"></div>
    <a class="!active" routerLink="/">Home</a>
    <a routerLink="features">Features</a>
    <a routerLink="customers">Customers</a>
    <a routerLink="sign-in">Login</a>
    <a routerLink="sign-up">
      <button mat-raised-button class="login-button" ><span>Get Started</span></button>
    </a>
  </div>
</div>

