
<!-- HEADER -->
 <div class="footer">
  <a class="logo" routerLink="/home"  >
    <img src="assets/img/logos/2.png" class="main-logo" alt="logo" id="main_logo" style="width:100px;height:100px;">
  </a>

  <div class="footer-right">
  <div class="nav-toggle"></div><!--
    <a class="!active" routerLink="/">Home</a>
    <a routerLink="/listings">Features</a>
    <a routerLink="/services">Customers</a>
    <a routerLink="/auth/sign-in">Login</a>
    <a routerLink="/auth/sign-up">
      <button mat-raised-button class="login-button" ><span>Get Started</span></button>
    </a>
    <mat-card>Copyright @ 2021: Thia Incorporated.</mat-card>-->
  </div>

</div>

